<%= link_to "Back to posts", posts_path, class: "btn btn-primary my-1" %>

<%= render @post %>

<% if user_signed_in? %>
  <% if current_user.admin? || current_user == @post.user %>
    <div>
      <%= link_to "Edit this post", edit_post_path(@post), class: "btn btn-primary" %>
      <%= button_to "Destroy this post", @post, method: :delete, data: { confirm: "Estas seguro?" }, class: "btn btn-danger my-2" %>
    </div>
  <% end %>
<% end %>

<h2>Comentarios:</h2>

<%= render "comments/comments" %>
